.all-jobs {
  margin-top: 1rem;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.job-section {
  padding-block: 1rem;
  display: flex;
  flex-flow: wrap;
  gap: 15px;
  flex-flow: wrap;
  .job-card {
    background-color: white;
    padding: 10px;
    width: 49%;
    @media(max-width: 768px) {
      width: 100%;
    }
    border-radius: 2px;
    a {
      color: inherit;
    }
    .job-title {
      margin: 0;
      font-weight: 700;
      font-size: 24px;
    }
    .job-skills {
      display: flex;
      margin-block: 5px;
      flex-flow: wrap;
      li {
        background: rgba(196, 196, 196, 1);
        padding: 3px;
        border-radius: 5px;
        font-size: 14px;
        margin-right: 10px;
        margin-bottom: 7px;
      }
    }
    .job-link {
      text-decoration: underline;
      font-size: 14px;
    }
  }
}

.search-section {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  @media(max-width: 768px) {
    display: block;
  }
  .job-section {
    width: 80%;
    @media(max-width: 768px) {
      width: 100%;
    }
  }
  .search-history-box {
    width: 424px;
    @media(max-width: 768px) {
      width: 100%;
    }
    .search-history {
      padding: 1rem;
      background: #d9d9d9;
      margin-block: 1rem;
      h4 {
        font-size: 24px;
        font-weight: 600;
      }
      ul {
        list-style: inherit;
        padding: 0.5rem 1.5rem;
        font-size: 18px;
        text-decoration: underline;
        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.autocomplete-ul {
  display: block;
  width: 100%;
  // padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top: 0;
  border-radius: 0 0 0.25rem 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // opacity: 0.75;
  position: absolute;
  z-index: 10;
  background: white;
  cursor: auto;
  li {
    padding: 0.375rem 0.75rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: gray;
      color: white;
      cursor: pointer;
    }
  }
}
